<ion-header>
    <ion-navbar center color="danger">
        <ion-title>Naše nabídka</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    
    <div *ngFor="let cat of treeview.Categories">
        <ion-list *ngIf="cat.ParentId == null" color="light">
            <ion-list-header>
                {{ cat.Name }}
            </ion-list-header>
            <div *ngFor="let f of treeview.Food">
                <ion-item *ngIf="f.CategoryId == cat.Id" (click)="addToOrder(f.Name, f.Price, f.Id)" (press)="showNutrition(f.EnergyKj, f.EnergyKcal, f.Protein, f.Carbohydrates, f.Sugar, f.TotalFat, f.SaturatedFat, f.Fiber, f.Salt, f.Allergenes)">
                    <ion-icon name='add' item-start></ion-icon>
                    &nbsp;{{ f.Name }}
                    <ion-note class="subcategory">
                        {{ f.Text }}
                    </ion-note>
                    <ion-note item-end>
                        {{ f.Price }} Kč
                    </ion-note>
                </ion-item>
            </div>
        </ion-list>
    </div>

    <!--<ion-list *ngFor="let cat of mainCategories" color="light">
        <ion-list-header>
            {{cat[0]}}
        </ion-list-header>
        <div *ngFor="let f of actualFood">
            <ion-item *ngIf="cat[14] == f[14].charAt(0)" (click)="addToOrder(f[0], f[3], f[1])" (press)="showNutrition(f[5], f[6], f[7], f[8], f[9], f[10], f[11], f[12], f[13], f[14])">
                <ion-icon name='add' item-start></ion-icon>
                &nbsp;{{f[0]}}

                <span *ngFor="let subcat of subs">
                    <ion-note class="subcategory" *ngIf="f[14].substring(0, subcat[14].length) == subcat[14]">
                        {{subcat[0]}}
                    </ion-note>
                </span>
                <ion-note item-end>
                    {{f[3]}} Kč
                </ion-note>
            </ion-item>
        </div>
    </ion-list>-->
</ion-content>
