page-welcome {
    #welcome {
        background: color($colors, danger);
        align-items: center;


        h1 {
            font-size: 25pt;
            margin-top: 50px;
        }

        h3 {
            font-size: 15pt;
        }

        .center-div{
            text-align: center;
            width: 100%;
            height: 60%;
            
        }

        ion-img {
            background: none;
        }
    }
}