page-welcome {
    #welcome {
        background: color($colors, light);

        h1 {
            font-size: 25pt;
            margin-top: 50px;
        }

        h3 {
            font-size: 15pt;
        }
    }
}
